aiohttp==3.8.4
aiosignal==1.3.1
async-timeout==4.0.2
attrs==23.1.0
blinker==1.6.2
cachetools==5.3.1
certifi==2023.5.7
charset-normalizer==3.1.0
click==8.1.3
cloudevents==1.9.0
coverage==7.2.7
db-dtypes==1.1.1
decorator==5.1.1
deprecation==2.1.0
drypy==1.0.1
flake8==6.0.0
Flask==2.3.2
frozenlist==1.3.3
fsspec==2023.6.0
functions-framework==3.4.0
gcsfs==2023.6.0
google-api-core==2.11.0
google-auth==2.20.0
google-auth-oauthlib==1.0.0
google-cloud-bigquery==3.11.1
google-cloud-bigquery-storage==2.20.0
google-cloud-core==2.3.2
google-cloud-secret-manager==2.16.1
google-cloud-storage==2.9.0
google-crc32c==1.5.0
google-resumable-media==2.5.0
googleapis-common-protos==1.59.1
grpc-google-iam-v1==0.12.6
grpcio==1.54.2
grpcio-status==1.54.2
gunicorn==20.1.0
idna==3.4
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
mccabe==0.7.0
multidict==6.0.4
numpy==1.24.3
oauthlib==3.2.2
packaging==23.1
pandas==2.0.2
pandas-gbq==0.19.2
pluggy==1.0.0
proto-plus==1.22.2
protobuf==4.23.2
pyarrow==12.0.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycodestyle==2.10.0
pydata-google-auth==1.8.0
pyflakes==3.0.1
pytest==7.3.2
pytest-cov==4.1.0
python-dateutil==2.8.2
pytz==2023.3
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
six==1.16.0
tzdata==2023.3
urllib3==1.26.16
watchdog==3.0.0
Werkzeug==2.3.6
yarl==1.9.2
